
<h1 class="ptitle">Schneider 镜头筛选工具流程</h1>

<div> <%= render 'step_nav' %> </div>

<h4> 镜头方案推荐 </h4>

<div>
  <h5> 标准接口镜头（一共有3选择，其中推荐2种选择）</h5>
  <ul class="stdcase"> <li> 方案1 </li>
       <li> 方案2 </li>
       <li> 方案3 </li>
  </ul>
</div>

<div>
  <h5> 模组化镜头（一共有2选择，其中推荐1种选择）</h5>
  <ul class="modcase"> <li> 方案1 </li>
       <li> 方案2 </li>
       <li> 方案3 </li>
  </ul>
</div>
