<h1 class="ptitle">Schneider 镜头筛选工具流程</h1>
<div> <%= render 'step_nav' %> </div>

<h4> 镜头详细信息 </h4>
<div>
  <table class="table">
    <tr>
      <th> 系统总重</th> <td> 150g </td>
    </tr>
    <tr>
      <th> 系统配件 </th> <td> C mount lens + adapter + extension tube + Unifoc  </td>
    </tr>
    <tr>
      <th> 系统长度</th> <td> 150mm </td>
    </tr>
    <tr>
      <td colspan="2"> <%= image_tag 'sample.png', class:"img-responsive"%>  </td>
    </tr>
  </table>

</div>

<div>
  <h4> 使用配件</h4>
  <dl class="dl-horizontal">
    <dt>C mount lens :</dt>
    <dd> 110mm，115g，14802</dd>
    <dt>Adapter :</dt>
    <dd>10mm，7g，55412366</dd>
    <dt>Extension Tube :</dt>
    <dd>6mm，5g，15662</dd>
    <dt>Unifoc :</dt>
    <dd>24mm，23g，14802</dd>
  </dl>

</div>
