@import "bootstrap";
.page{
  padding: 0 2px;
}
.ptitle{
  font-size: 22px;
}
.search_param_form .search_field{
  padding: 4px 0;

}
.search_param_form input{

}
.search_param_form label{
  text-align: right;
  margin: 0;
}
.sequence{

}
.c40{
  float:left;
  width: 40%;
  /*padding: 0 6px;*/
}
.c60{
  float:left;
  width: 60%;
  padding: 0 6px;
}
